/* Estilo geral do corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Estilo do cabeçalho */
h1 {
  background-color: #f4a261;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

/* Contêiner da pergunta */
#question-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Estilo dos botões de controle */
button {
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218c74;
}

/* Contêiner para os canvases */
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinhamento vertical, se necessário */
  margin: 20px 0;
}

.canvas-container > div {
  flex: 1;
  margin: 0 10px;
}

/* Estilo dos canvases */
canvas {
  border: 1px solid #000;
  width: 100%;
  height: 500px; /* Ajuste a altura conforme necessário */
}

/* Controles para cor e tamanho do pincel */
#brush-controls {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#brush-controls label {
  margin-right: 10px;
}

/* Estilo para controles de desfazer e limpar */
#undo-controls {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.undo-clear-group {
  margin: 10px 0;
}

.undoBtn, .clearBtn {
  background-color: #e76f51;
}

.undoBtn:hover, .clearBtn:hover {
  background-color: #d63b3b;
}

/* Contêiner para resultados */
#result {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#result p {
  margin: 5px 0;
}

/* Ajuste para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .canvas-container {
    flex-direction: column;
  }

  .canvas-container > div {
    margin: 10px 0;
  }

  button {
    width: 90%;
    margin: 10px auto;
  }

  .referenceImage {
    width: 100%;  /* Ajusta a largura da imagem para 100% da largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 500px; /* Ajusta para não exceder uma largura máxima específica */
    display: block; /* Garante que a imagem seja exibida como um bloco */
  }
  
}
